
<!-- Sección de pie de página inicio -->
<footer class="footer-section">
    <div class="overlay">
        <div class="call-action index-3">
            <div class="container">
                <div class="main-content">
                    <div class="row gap-4 gap-lg-0 align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="section-area mb-3">
                                <h3>¿Listo para comenzar a jugar?</h3>
                            </div>
                            <p>Deja de deslizar hacia abajo y empieza a jugar. ¡Crea tu cuenta ahora y gana 20 euros gratis!</p>
                        </div>
                        <div class="col-lg-5 d-flex justify-content-lg-end">
                            <div class="btn-area">
                                <a href="{{path('app_register')}}" class="cmn-btn">Jugar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-area">
            <div class="container">
                <div class="row wrapper mt-80 mb-80">
                    <div class="col-xl-12 cus-mar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between top-area">
                        <div class="single-box d-flex flex-wrap gap-md-5 gap-3 align-items-center justify-content-center justify-content-md-start">
                            <a href="index.html">
                                <img src="assets/images/logo.png" height="300px" width="230px" class="logo" alt="logo">
                            </a>

                        </div>
                        <div class="single-box social">
                            <ul class="d-flex">
                                <!-- Iconos sociales -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row gap-md-0 gap-3 justify-content-between">
                        <div class="col-md-6 order-1 order-md-0 text-md-start text-center">
                            <div class="copyright">
                                <p>Derechos de autor © <a href="#">Royal Casino</a> | Programado por Antonio Soare</p>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                            <ul class="d-flex gap-4 flex-wrap align-items-center">
                                <li><a href="#">Privacidad</a></li>
                                <li><a href="#">Términos y Condiciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Sección de pie de página fin -->