{% extends "base.html.twig" %}
{% block title %}Usuario{% endblock %}
{% block body %}
<h1>Admin panel - Banear usuario</h1><hr>
<p>Estas en la ficha del usuario: {{usuario.id}} - {{usuario.nombre}} {{usuario.apellidos}}</p>
{{ form(formulario) }}
{% endblock %}