<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dooplo - Gaming HTML Template</title>

    <link rel="shortcut icon" href="/assets/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/plugin/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugin/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugin/slick.css">
    <link rel="stylesheet" href="/assets/css/plugin/odometer.css">
    <link rel="stylesheet" href="/assets/css/arafat-font.css">
    <link rel="stylesheet" href="/assets/css/plugin/animate.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!-- start preloader -->
    <div class="preloader align-items-center justify-content-center">
        <div class="load">
            <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <!-- end preloader -->

    <!-- Scroll To Top Start-->
    <button class="scrollToTop"><i class="fas fa-angle-double-up"></i></button>
    <!-- Scroll To Top End -->

    <!-- header-section start -->
    <header class="header-section header-menu">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container">
                <nav class="navbar w-100 navbar-expand-lg">
                    <a href="index.html" class="navbar-brand d-flex align-items-center gap-2">
                        <img src="/assets/images/fav.png" class="logo" alt="logo">
                        <img src="/assets/images/logo-alt.png" class="logo-alt" alt="logo-alt">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav gap-3 py-4 py-lg-0 m-auto align-self-center">
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav" href="javascript:void(0)">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="index.html">Home One</a></li>
                                    <li><a class="dropdown-item" href="index-2.html">Home Two</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Home Three</a></li>
                                    <li><a class="dropdown-item" href="index-4.html">Home Four</a></li>
                                    <li><a class="dropdown-item" href="index-5.html">Home Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-nav" href="play-as-you-go.html">Play</a>
                            </li>
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav" href="javascript:void(0)">games</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="games.html">games</a></li>
                                    <li><a class="dropdown-item" href="games-details.html">games Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-nav" href="matchfinders.html">Matchfinders</a>
                            </li>
                            <li>
                                <a class="dropdown-nav" href="leaderboard.html">leaderboard</a>
                            </li>
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav active" href="javascript:void(0)">Pages</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="about-us.html">About</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">tournament</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="tournament.html">tournament</a></li>
                                            <li><a class="dropdown-item" href="tournament-details.html">tournament Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">accounts</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="accounts-1.html">accounts one</a></li>
                                            <li><a class="dropdown-item" href="accounts-2.html">accounts two</a></li>
                                            <li><a class="dropdown-item" href="accounts-3.html">accounts three</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="affiliate.html">affiliate</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">careers</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="careers.html">careers</a></li>
                                            <li><a class="dropdown-item" href="careers-details.html">careers Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="community.html">community</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="features.html">features</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">help center</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="help-center.html">help center one</a></li>
                                            <li><a class="dropdown-item" href="help-center-2.html">help center two</a></li>
                                            <li><a class="dropdown-item" href="help-center-3.html">help center three</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">group finder</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="group-finder.html">group finder</a></li>
                                            <li><a class="dropdown-item" href="group-details.html">group Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">profile</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="public-profile.html">public profile</a></li>
                                            <li><a class="dropdown-item" href="private-profile.html">private profile</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="privacy-policy.html">privacy policy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="terms-conditions.html">terms conditions</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="how-works.html">how works</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="error.html">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav" href="javascript:void(0)">shop</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="shop.html">shop</a></li>
                                    <li><a class="dropdown-item" href="shop-details.html">shop details one</a></li>
                                    <li><a class="dropdown-item" href="shop-details-2.html">shop details two</a></li>
                                    <li><a class="dropdown-item" href="shop-details-3.html">shop details three</a></li>
                                    <li><a class="dropdown-item" href="shop-cart.html">shop cart</a></li>
                                    <li><a class="dropdown-item" href="calculate-shipping-1.html">shipping one</a></li>
                                    <li><a class="dropdown-item" href="calculate-shipping-2.html">shipping two</a></li>
                                    <li><a class="dropdown-item" href="checkout.html">checkout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="right-area position-relative d-flex gap-3 gap-xxl-5 align-items-center">
                            <div class="single-item form-search-area">
                                <div class="form-search-btn cmn-head dot">
                                    <div class="icon-area d-center">
                                        <img src="/assets/images/icon/search-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="main-area px-2 py-2 py-sm-4 px-sm-4 form-search-content">
                                    <form action="#" class="search-form">
                                        <input type="text" placeholder="Enter Keywords.......">
                                        <button class="cmn-btn">Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="btn-area d-flex gap-3 align-items-center">
                                <a href="sign-in.html">Sign in</a>
                                <a href="sign-up.html" class="cmn-btn">Sign up</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <!-- header-section end -->

    <!-- inner banner start -->
    <section class="banner-section inner-banner about how-works">
        <div class="banner-content position-relative d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-start">
                    <div class="col-md-6">
                        <div class="text-area">
                            <h2>Rescata a Sheila</h2>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex gap-2 gap-lg-0 mt-2 mt-lg-0">
                                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Juegos</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Rescata a Sheila</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="illus-area d-none d-md-block position-absolute bottom-0">
                            <img src="/assets/images/banner-how-works-illus.png" class="wow fadeInUp" alt="icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->
    <style>
        #gameContainer {
            width: 320px;
            height: 480px;
            overflow: hidden;
            position: relative;
            background-color: #87CEEB;
        }
        #bird {
            width: 34px;
            height: 24px;
            position: absolute;
            background-color: #FFD700; /* Representa el pájaro con un color sólido */
        }
        .pipe {
            position: absolute;
            width: 52px;
            bottom: 0;
            background-color: #008000;
        }
    </style>
    <!-- Video Section start -->
    <section class="video-section overflow-hidden">
        <div class="overlay pb-120">
           
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        
                            <div class="bg-area w-100"><br><br>
                               <div id="gameContainer">
    <div id="bird"></div>
</div>

                            </div>
                          
                        
                    </div>
                
                </div>
        </div>
    </section>
    <!-- Video Section end -->

    <!-- How to Play start -->
    <section class="how-play index-2">
        <div class="container pb-120">
            <div class="row bg-area position-relative overflow-hidden justify-content-end align-items-center">
                <div class="col-lg-9">
                    <div class="main-content mt-60 mb-60">
                        <div class="abs-area">
                            <img src="/assets/images/how-play-illus.png" alt="image">
                        </div>
                        <div class="section-text text-center">
                            <h2 class="title">How to Play</h2>
                        </div>
                        <div class="row cus-mar">
                            <div class="col-sm-4">
                                <div class="single-box">
                                    <div class="img-area">
                                        <img src="/assets/images/icon/how-play-icon-1.png" alt="image">
                                        <span class="abs-area xxltxt d-center text-center position-absolute">1</span>
                                    </div>
                                    <h5>Register</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-box">
                                    <div class="img-area">
                                        <img src="/assets/images/icon/how-play-icon-2.png" alt="image">
                                        <span class="abs-area xxltxt d-center text-center position-absolute">2</span>
                                    </div>
                                    <h5>Play</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-box">
                                    <div class="img-area">
                                        <img src="/assets/images/icon/how-play-icon-3.png" alt="image">
                                        <span class="abs-area xxltxt d-center text-center position-absolute">3</span>
                                    </div>
                                    <h5>Get Paid</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How to Play end -->

    <!-- FAQs In start -->
    <section class="faqs-section">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h2 class="title">Our most common questions</h2>
                            <p class="w-75 m-auto">Do you have a question about Dooplo? Please <a href="javascript:void(0)">contact us</a>! We would love to answer your questions.</p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-10">
                        <div class="faq-box">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h5 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Is Dooplo available on Mac/mobile/console?
                                        </button>
                                    </h5>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever
                                                since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            I’m not a high-level player. Can I still use Dooplo?
                                        </button>
                                    </h5>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever
                                                since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                            Does Dooplo cost money to use?
                                        </button>
                                    </h5>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever
                                                since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive">
                                            Is Dooplo legal and safe?
                                        </button>
                                    </h5>
                                    <div id="collapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever
                                                since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header" id="headingsix">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapsesix"
                                            aria-expanded="false" aria-controls="collapsesix">
                                            I have more questions or need help.
                                        </button>
                                    </h5>
                                    <div id="collapsesix" class="accordion-collapse collapse"
                                        aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever
                                                since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs In end -->

    <!-- Footer Area Start -->
    <footer class="footer-section second">
        <div class="overlay">
            <div class="call-action">
                <div class="container">
                    <div class="main-content">
                        <div class="row gap-4 gap-lg-0 align-items-center justify-content-between">
                            <div class="col-lg-6">
                                <div class="section-area mb-3">
                                    <h3>Ready to start Your Journey?</h3>
                                </div>
                                <p>Stop Scrolling, Start Playing.Create your account now and earn 500 coins</p>
                            </div>
                            <div class="col-lg-5 d-flex justify-content-lg-end">
                                <div class="btn-area">
                                    <a href="sign-up.html" class="cmn-btn">Register Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <div class="container">
                    <div class="row wrapper mt-80 mb-80">
                        <div class="col-xl-12 cus-mar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between top-area">
                            <div class="single-box d-flex flex-wrap gap-md-5 gap-3 align-items-center justify-content-center justify-content-md-start">
                                <a href="index.html">
                                    <img src="/assets/images/logo.png" class="logo" alt="logo">
                                </a>
                                <ul class="items gap-3 d-flex flex-wrap align-items-center justify-content-md-start justify-content-center">
                                    <li><a href="index-4.html">Home</a></li>
                                    <li><a href="games.html">Game</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="sign-in.html">Support</a></li>
                                </ul>
                            </div>
                            <div class="single-box social">
                                <ul class="d-flex">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row gap-md-0 gap-3 justify-content-between">
                            <div class="col-md-6 order-1 order-md-0 text-md-start text-center">
                                <div class="copyright">
                                    <p>Copyright © <a href="index-3.html">Dooplo</a> | Designed by <a href="javascript:void(0)" class="company">Pixelaxis</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                                <ul class="d-flex gap-4 flex-wrap align-items-center">
                                    <li><a href="privacy-policy.html">Privacy</a></li>
                                    <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!--==================================================================-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/plugin/jquery.downCount.js"></script>
    <script src="/assets/js/plugin/slick.js"></script>
    <script src="/assets/js/plugin/jquery.nice-select.min.js"></script>
    <script src="/assets/js/plugin/waypoint.min.js"></script>
    <script src="/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugin/wow.min.js"></script>
    <script src="/assets/js/plugin/odometer.min.js"></script>
    <script src="/assets/js/plugin/viewport.jquery.js"></script>
    <script src="/assets/js/plugin/plugin.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/sheila.js"></script> <!-- Asegúrate de reemplazar esto con la ruta correcta a tu script de JS -->
</body>

</html>